<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="booknowport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <meta name="description" content=""/>
    <meta name="author" content=""/>
    <title>Dashboard - SB Admin Pro</title>
    <link href="css/styles.css" rel="stylesheet"/>
    <link href="https://cdn.datatables.net/1.10.20/css/dataTables.bootstrap4.min.css" rel="stylesheet"
          crossorigin="anonymous"/>
    <link rel="icon" type="image/x-icon" href="assets/img/favicon.png"/>
    <script data-search-pseudo-elements defer
            src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/js/all.min.js"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/feather-icons/4.24.1/feather.min.js"
            crossorigin="anonymous"></script>
</head>
<body class="nav-fixed">
<nav class="topnav navbar navbar-expand shadow navbar-light bg-white" id="sidenavAccordion">
    <a class="navbar-brand d-none d-sm-block" href="index.html">Sri Adithya Developers</a><img class="dropdown-user-img"
                                                                                               src="/assets/img/siradithya.jpg"
                                                                                               style="width: 60px; height: 58px;"/>
    <button class="btn btn-icon btn-transparent-dark order-1 order-lg-0 mr-lg-2" id="sidebarToggle"
            href="book-site-visit.html"><i data-feather="menu"></i></button>
    <form class="form-inline mr-auto d-none d-lg-block"><input class="form-control form-control-solid mr-sm-2"
                                                               type="search" placeholder="Search" aria-label="Search"/>
    </form>
    <ul class="navbar-nav align-items-center ml-auto">
        <li class="nav-item dropdown no-caret mr-3">
            <a class="nav-link dropdown-toggle" id="navbarDropdownDocs" href="javascript:void(0);" role="button"
               data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
            >
                <div class="d-inline d-md-none font-weight-500">Docs</div>
                <div class="d-none d-md-inline font-weight-500">Documentation</div>
                <i class="fas fa-chevron-right dropdown-arrow"></i
                ></a>
            <div class="dropdown-menu dropdown-menu-right py-0 o-hidden mr-n15 mr-lg-0 animated--fade-in-up"
                 aria-labelledby="navbarDropdownDocs">
                <a class="dropdown-item py-3" href="https://docs.startbootstrap.com/sb-admin-pro" target="_blank"
                >
                    <div class="icon-stack bg-primary-soft text-primary mr-4"><i data-feather="book"></i></div>
                    <div>
                        <div class="small text-gray-500">Documentation</div>
                        Usage instructions and reference
                    </div>
                </a>
                <div class="dropdown-divider m-0"></div>
                <a class="dropdown-item py-3" href="https://docs.startbootstrap.com/sb-admin-pro/components"
                   target="_blank"
                >
                    <div class="icon-stack bg-primary-soft text-primary mr-4"><i data-feather="code"></i></div>
                    <div>
                        <div class="small text-gray-500">Components</div>
                        Code snippets and reference
                    </div>
                </a
                >
                <div class="dropdown-divider m-0"></div>
                <a class="dropdown-item py-3" href="https://docs.startbootstrap.com/sb-admin-pro/changelog"
                   target="_blank"
                >
                    <div class="icon-stack bg-primary-soft text-primary mr-4"><i data-feather="file-text"></i></div>
                    <div>
                        <div class="small text-gray-500">Changelog</div>
                        Updates and changes
                    </div>
                </a
                >
            </div>
        </li>
        <li class="nav-item dropdown no-caret mr-3 dropdown-notifications">
            <a class="btn btn-icon btn-transparent-dark dropdown-toggle" id="navbarDropdownAlerts"
               href="javascript:void(0);" role="button" data-toggle="dropdown" aria-haspopup="true"
               aria-expanded="false"><i data-feather="bell"></i></a>
            <div class="dropdown-menu dropdown-menu-right border-0 shadow animated--fade-in-up"
                 aria-labelledby="navbarDropdownAlerts">
                <h6 class="dropdown-header dropdown-notifications-header"><i class="mr-2" data-feather="bell"></i>Alerts
                    Center</h6>
                <a class="dropdown-item dropdown-notifications-item" href="#!"
                >
                    <div class="dropdown-notifications-item-icon bg-warning"><i data-feather="activity"></i></div>
                    <div class="dropdown-notifications-item-content">
                        <div class="dropdown-notifications-item-content-details">December 29, 2019</div>
                        <div class="dropdown-notifications-item-content-text">This is an alert message. It's nothing
                            serious, but it requires your attention.
                        </div>
                    </div>
                </a
                ><a class="dropdown-item dropdown-notifications-item" href="#!"
            >
                <div class="dropdown-notifications-item-icon bg-info"><i data-feather="bar-chart"></i></div>
                <div class="dropdown-notifications-item-content">
                    <div class="dropdown-notifications-item-content-details">December 22, 2019</div>
                    <div class="dropdown-notifications-item-content-text">A new monthly report is ready. Click here to
                        booknow!
                    </div>
                </div>
            </a
            ><a class="dropdown-item dropdown-notifications-item" href="#!"
            >
                <div class="dropdown-notifications-item-icon bg-danger"><i class="fas fa-exclamation-triangle"></i>
                </div>
                <div class="dropdown-notifications-item-content">
                    <div class="dropdown-notifications-item-content-details">December 8, 2019</div>
                    <div class="dropdown-notifications-item-content-text">Critical system failure, systems shutting
                        down.
                    </div>
                </div>
            </a
            ><a class="dropdown-item dropdown-notifications-item" href="#!"
            >
                <div class="dropdown-notifications-item-icon bg-success"><i data-feather="user-plus"></i></div>
                <div class="dropdown-notifications-item-content">
                    <div class="dropdown-notifications-item-content-details">December 2, 2019</div>
                    <div class="dropdown-notifications-item-content-text">New user request. Woody has requested access
                        to the organization.
                    </div>
                </div>
            </a
            ><a class="dropdown-item dropdown-notifications-footer" href="#!">booknow All Alerts</a>
            </div>
        </li>
        <li class="nav-item dropdown no-caret mr-3 dropdown-notifications">
            <a class="btn btn-icon btn-transparent-dark dropdown-toggle" id="navbarDropdownMessages"
               href="javascript:void(0);" role="button" data-toggle="dropdown" aria-haspopup="true"
               aria-expanded="false"><i data-feather="mail"></i></a>
            <div class="dropdown-menu dropdown-menu-right border-0 shadow animated--fade-in-up"
                 aria-labelledby="navbarDropdownMessages">
                <h6 class="dropdown-header dropdown-notifications-header"><i class="mr-2" data-feather="mail"></i>Message
                    Center</h6>
                <a class="dropdown-item dropdown-notifications-item" href="#!"
                ><img class="dropdown-notifications-item-img" src="/assets/img/siradithya.jpg"/>
                    <div class="dropdown-notifications-item-content">
                        <div class="dropdown-notifications-item-content-text">Lorem ipsum dolor sit amet, consectetur
                            adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim
                            ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                            consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu
                            fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui
                            officia deserunt mollit anim id est laborum.
                        </div>
                        <div class="dropdown-notifications-item-content-details">Emily Fowler · 58m</div>
                    </div>
                </a
                ><a class="dropdown-item dropdown-notifications-item" href="#!"
            ><img class="dropdown-notifications-item-img" src="https://source.unsplash.com/4ytMf8MgJlY/60x60"/>
                <div class="dropdown-notifications-item-content">
                    <div class="dropdown-notifications-item-content-text">Lorem ipsum dolor sit amet, consectetur
                        adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad
                        minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                        Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
                        pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt
                        mollit anim id est laborum.
                    </div>
                    <div class="dropdown-notifications-item-content-details">Diane Chambers · 2d</div>
                </div>
            </a
            ><a class="dropdown-item dropdown-notifications-footer" href="#!">Read All Messages</a>
            </div>
        </li>
        <li class="nav-item dropdown no-caret mr-3 dropdown-user">
            <a class="btn btn-icon btn-transparent-dark dropdown-toggle" id="navbarDropdownUserImage"
               href="javascript:void(0);" role="button" data-toggle="dropdown" aria-haspopup="true"
               aria-expanded="false"><img class="img-fluid" src="/assets/img/siradithya.jpg"/></a>
            <div class="dropdown-menu dropdown-menu-right border-0 shadow animated--fade-in-up"
                 aria-labelledby="navbarDropdownUserImage">
                <h6 class="dropdown-header d-flex align-items-center">
                    <img class="dropdown-user-img" src="/assets/img/siradithya.jpg"/>
                    <div class="dropdown-user-details">
                        <div class="dropdown-user-details-name">Valerie Luna</div>
                        <div class="dropdown-user-details-email">vluna@aol.com</div>
                    </div>
                </h6>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="#!"
                >
                    <div class="dropdown-item-icon"><i data-feather="settings"></i></div>
                    Account</a
                ><a class="dropdown-item" href="#!"
            >
                <div class="dropdown-item-icon"><i data-feather="log-out"></i></div>
                Logout</a
            >
            </div>
        </li>
    </ul>
</nav>
<div id="layoutSidenav">
    <div id="layoutSidenav_nav">
        <nav class="sidenav shadow-right sidenav-light">

            <div class="sidenav-footer">
                <div class="sidenav-footer-content">
                    <div class="sidenav-footer-subtitle">Display:</div>
                    <div class="sidenav-footer-title">Project Data</div>
                </div>
            </div>
        </nav>
    </div>
    <div id="layoutSidenav_content">
        <main>
            <div class="page-header pb-10 page-header-dark bg-gradient-primary-to-secondary">
                <div class="container-fluid">
                    <div class="page-header-content">
                        <h1 class="page-header-title">
                            <div class="page-header-icon"><i data-feather="filter"></i></div>
                            <span> Project & agent status </span>
                        </h1>
                        <div class="page-header-subtitle"></div>
                    </div>
                </div>
            </div>
            <div class="container-fluid mt-n10">
                <div class="card mb-4">
                    <div class="card-header"> Agent wise data</div>
                    <div class="card-body">
                        <div class="datatable table-responsive">
                            <table class="table table-bordered table-hover" id="dataTable" width="100%" cellspacing="0">
                                <thead class="table-light">

                                <tr>
                                    <th>Name</th>
                                    <th>Target</th>
                                    <th>Status</th>
                                    <th>Task</th>
                                </tr>
                                </thead>
                                <tbody>

                                <tr>
                                    <td>Michael Cisneros</td>
                                    <td>9 plots</td>
                                    <td><span class="badge bg-primary">Completed</span></td>
                                    <td>Document Collection</td>
                                </tr>

                                <tr>
                                    <td>Wendy Mcdonald</td>
                                    <td>11 plots</td>
                                    <td><span class="badge bg-danger">Blocked</span></td>
                                    <td>Survey Entry</td>
                                </tr>

                                <tr>
                                    <td>Edward Oneal</td>
                                    <td>14 plots</td>
                                    <td><span class="badge bg-warning">Pending</span></td>
                                    <td>Survey Entry</td>
                                </tr>

                                <tr>
                                    <td>Kathleen Williams</td>
                                    <td>16 plots</td>
                                    <td><span class="badge bg-warning">Pending</span></td>
                                    <td>Document Collection</td>
                                </tr>

                                <tr>
                                    <td>Anne Davis</td>
                                    <td>15 plots</td>
                                    <td><span class="badge bg-primary">Completed</span></td>
                                    <td>Site Visit Follow-up</td>
                                </tr>

                                <tr>
                                    <td>Steven Kramer</td>
                                    <td>15 plots</td>
                                    <td><span class="badge bg-success">Active</span></td>
                                    <td>Agreement Drafting</td>
                                </tr>

                                <tr>
                                    <td>Debbie Conner</td>
                                    <td>13 plots</td>
                                    <td><span class="badge bg-warning">Pending</span></td>
                                    <td>Survey Entry</td>
                                </tr>

                                <tr>
                                    <td>Mrs. Michelle Obrien</td>
                                    <td>7 plots</td>
                                    <td><span class="badge bg-success">Active</span></td>
                                    <td>Agreement Drafting</td>
                                </tr>

                                <tr>
                                    <td>Sherry Hooper</td>
                                    <td>8 plots</td>
                                    <td><span class="badge bg-warning">Pending</span></td>
                                    <td>Client Call</td>
                                </tr>

                                <tr>
                                    <td>Timothy Davis</td>
                                    <td>8 plots</td>
                                    <td><span class="badge bg-success">Active</span></td>
                                    <td>Document Collection</td>
                                </tr>

                                <tr>
                                    <td>Bryan Romero</td>
                                    <td>11 plots</td>
                                    <td><span class="badge bg-success">Active</span></td>
                                    <td>Client Call</td>
                                </tr>

                                <tr>
                                    <td>Katherine Dennis</td>
                                    <td>9 plots</td>
                                    <td><span class="badge bg-success">Active</span></td>
                                    <td>Survey Entry</td>
                                </tr>

                                <tr>
                                    <td>Sherry Hancock</td>
                                    <td>13 plots</td>
                                    <td><span class="badge bg-warning">Pending</span></td>
                                    <td>Agreement Drafting</td>
                                </tr>

                                <tr>
                                    <td>Andres Garcia</td>
                                    <td>8 plots</td>
                                    <td><span class="badge bg-danger">Blocked</span></td>
                                    <td>Site Visit Follow-up</td>
                                </tr>

                                <tr>
                                    <td>Marilyn Holmes</td>
                                    <td>5 plots</td>
                                    <td><span class="badge bg-danger">Blocked</span></td>
                                    <td>Survey Entry</td>
                                </tr>

                                <tr>
                                    <td>David Melton</td>
                                    <td>5 plots</td>
                                    <td><span class="badge bg-danger">Blocked</span></td>
                                    <td>Survey Entry</td>
                                </tr>

                                <tr>
                                    <td>Amanda Davis</td>
                                    <td>6 plots</td>
                                    <td><span class="badge bg-warning">Pending</span></td>
                                    <td>Document Collection</td>
                                </tr>

                                <tr>
                                    <td>Mark Whitney</td>
                                    <td>10 plots</td>
                                    <td><span class="badge bg-success">Active</span></td>
                                    <td>Document Collection</td>
                                </tr>

                                <tr>
                                    <td>David Hampton</td>
                                    <td>8 plots</td>
                                    <td><span class="badge bg-warning">Pending</span></td>
                                    <td>Survey Entry</td>
                                </tr>

                                <tr>
                                    <td>Christopher Williams</td>
                                    <td>16 plots</td>
                                    <td><span class="badge bg-success">Active</span></td>
                                    <td>Document Collection</td>
                                </tr>

                                <tr>
                                    <td>John Arnold</td>
                                    <td>12 plots</td>
                                    <td><span class="badge bg-danger">Blocked</span></td>
                                    <td>Survey Entry</td>
                                </tr>

                                <tr>
                                    <td>Dr. William Booth</td>
                                    <td>15 plots</td>
                                    <td><span class="badge bg-warning">Pending</span></td>
                                    <td>Agreement Drafting</td>
                                </tr>

                                <tr>
                                    <td>Gina Nash</td>
                                    <td>6 plots</td>
                                    <td><span class="badge bg-danger">Blocked</span></td>
                                    <td>Document Collection</td>
                                </tr>

                                <tr>
                                    <td>Lisa Johnson</td>
                                    <td>13 plots</td>
                                    <td><span class="badge bg-success">Active</span></td>
                                    <td>Site Visit Follow-up</td>
                                </tr>

                                <tr>
                                    <td>Jill Johnson</td>
                                    <td>20 plots</td>
                                    <td><span class="badge bg-primary">Completed</span></td>
                                    <td>Site Visit Follow-up</td>
                                </tr>

                                <tr>
                                    <td>Manuel Savage</td>
                                    <td>17 plots</td>
                                    <td><span class="badge bg-warning">Pending</span></td>
                                    <td>Agreement Drafting</td>
                                </tr>

                                <tr>
                                    <td>Sandra Smith</td>
                                    <td>20 plots</td>
                                    <td><span class="badge bg-success">Active</span></td>
                                    <td>Site Visit Follow-up</td>
                                </tr>

                                <tr>
                                    <td>Melanie Jackson</td>
                                    <td>19 plots</td>
                                    <td><span class="badge bg-success">Active</span></td>
                                    <td>Survey Entry</td>
                                </tr>

                                <tr>
                                    <td>Gary Robinson</td>
                                    <td>13 plots</td>
                                    <td><span class="badge bg-danger">Blocked</span></td>
                                    <td>Document Collection</td>
                                </tr>

                                <tr>
                                    <td>Stephanie Mckee</td>
                                    <td>9 plots</td>
                                    <td><span class="badge bg-danger">Blocked</span></td>
                                    <td>Document Collection</td>
                                </tr>

                                <tr>
                                    <td>William Fernandez</td>
                                    <td>15 plots</td>
                                    <td><span class="badge bg-primary">Completed</span></td>
                                    <td>Site Visit Follow-up</td>
                                </tr>

                                <tr>
                                    <td>Holly Robinson</td>
                                    <td>11 plots</td>
                                    <td><span class="badge bg-primary">Completed</span></td>
                                    <td>Agreement Drafting</td>
                                </tr>

                                <tr>
                                    <td>Christina Donovan</td>
                                    <td>19 plots</td>
                                    <td><span class="badge bg-success">Active</span></td>
                                    <td>Survey Entry</td>
                                </tr>

                                <tr>
                                    <td>Jeffrey Sawyer</td>
                                    <td>13 plots</td>
                                    <td><span class="badge bg-success">Active</span></td>
                                    <td>Agreement Drafting</td>
                                </tr>

                                <tr>
                                    <td>Rebecca Blake</td>
                                    <td>9 plots</td>
                                    <td><span class="badge bg-success">Active</span></td>
                                    <td>Survey Entry</td>
                                </tr>

                                <tr>
                                    <td>Amanda Palmer</td>
                                    <td>13 plots</td>
                                    <td><span class="badge bg-warning">Pending</span></td>
                                    <td>Survey Entry</td>
                                </tr>

                                <tr>
                                    <td>Sylvia Howe</td>
                                    <td>5 plots</td>
                                    <td><span class="badge bg-success">Active</span></td>
                                    <td>Client Call</td>
                                </tr>

                                <tr>
                                    <td>Ryan Patrick</td>
                                    <td>8 plots</td>
                                    <td><span class="badge bg-warning">Pending</span></td>
                                    <td>Survey Entry</td>
                                </tr>

                                <tr>
                                    <td>Cody Walters</td>
                                    <td>18 plots</td>
                                    <td><span class="badge bg-danger">Blocked</span></td>
                                    <td>Client Call</td>
                                </tr>

                                <tr>
                                    <td>Erika Gutierrez</td>
                                    <td>19 plots</td>
                                    <td><span class="badge bg-primary">Completed</span></td>
                                    <td>Site Visit Follow-up</td>
                                </tr>

                                <tr>
                                    <td>Robert Holloway</td>
                                    <td>13 plots</td>
                                    <td><span class="badge bg-success">Active</span></td>
                                    <td>Agreement Drafting</td>
                                </tr>

                                <tr>
                                    <td>Bradley Dunlap</td>
                                    <td>19 plots</td>
                                    <td><span class="badge bg-success">Active</span></td>
                                    <td>Survey Entry</td>
                                </tr>

                                <tr>
                                    <td>Jason Williamson</td>
                                    <td>16 plots</td>
                                    <td><span class="badge bg-primary">Completed</span></td>
                                    <td>Agreement Drafting</td>
                                </tr>

                                <tr>
                                    <td>Jared Eaton</td>
                                    <td>10 plots</td>
                                    <td><span class="badge bg-warning">Pending</span></td>
                                    <td>Client Call</td>
                                </tr>

                                <tr>
                                    <td>Amy Castillo</td>
                                    <td>10 plots</td>
                                    <td><span class="badge bg-warning">Pending</span></td>
                                    <td>Survey Entry</td>
                                </tr>

                                <tr>
                                    <td>Samantha Byrd</td>
                                    <td>10 plots</td>
                                    <td><span class="badge bg-danger">Blocked</span></td>
                                    <td>Document Collection</td>
                                </tr>

                                <tr>
                                    <td>Abigail Duncan</td>
                                    <td>6 plots</td>
                                    <td><span class="badge bg-success">Active</span></td>
                                    <td>Document Collection</td>
                                </tr>

                                <tr>
                                    <td>James Jackson</td>
                                    <td>15 plots</td>
                                    <td><span class="badge bg-primary">Completed</span></td>
                                    <td>Survey Entry</td>
                                </tr>

                                <tr>
                                    <td>Karen Miller</td>
                                    <td>7 plots</td>
                                    <td><span class="badge bg-warning">Pending</span></td>
                                    <td>Site Visit Follow-up</td>
                                </tr>

                                <tr>
                                    <td>Kaitlyn Herring</td>
                                    <td>6 plots</td>
                                    <td><span class="badge bg-danger">Blocked</span></td>
                                    <td>Agreement Drafting</td>
                                </tr>

                                </tr>
                            </tbody>
                            </table>

                            <table class="table table-bordered table-hover">
                        </div>
                    </div>
                </div>
                <div class="card card-icon mb-4">
                    <div class="row no-gutters">
                        <div class="col-auto card-icon-aside bg-primary"><i class="mr-1 text-white-50"
                                                                            data-feather="alert-triangle"></i></div>
                        <div class="col">
                            <div class="card-body py-5">
                                <h5 class="card-title">Third-Party Documentation Available</h5>
                                <p class="card-text">DataTables is a third party plugin that is used to generate the
                                    demo table above. For more information about how to use DataTables with your
                                    project, please visit the official DataTables documentation.</p>
                                <a class="btn btn-primary btn-sm" href="https://datatables.net/" target="_blank"><i
                                        class="mr-1" data-feather="external-link"></i>Visit DataTables Docs</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </main>
        <footer class="footer mt-auto footer-light">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-6 small">Copyright &copy; Your Website 2020</div>
                    <div class="col-md-6 text-md-right small">
                        <a href="#!">Privacy Policy</a>
                        &middot;
                        <a href="#!">Terms &amp; Conditions</a>
                    </div>
                </div>
            </div>
        </footer>
    </div>
</div>
<script src="https://code.jquery.com/jquery-3.4.1.min.js" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js"
        crossorigin="anonymous"></script>
<script src="js/scripts.js"></script>
<script src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js" crossorigin="anonymous"></script>
<script src="https://cdn.datatables.net/1.10.20/js/dataTables.bootstrap4.min.js" crossorigin="anonymous"></script>
<script src="assets/demo/datatables-demo.js"></script>
</body>
</html>
