<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>Register - SB Admin Pro</title>
        <link href="css/styles.css" rel="stylesheet" />
        <link rel="icon" type="image/x-icon" href="assets/img/favicon.png" />
        <script data-search-pseudo-elements defer src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/js/all.min.js" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/feather-icons/4.24.1/feather.min.js" crossorigin="anonymous"></script>
    </head>
    <body class="bg-primary">
        <div id="layoutAuthentication">
            <div id="layoutAuthentication_content">
                <main>
                    <div class="container">
                        <div class="row justify-content-center">
                            <div class="col-lg-7">
                                <div class="card shadow-lg border-0 rounded-lg mt-5">
                                    <div class="card-header justify-content-center"><h3 class="font-weight-light my-4">Create Account</h3></div>
                                    <div class="card-body">
                                        <form>
                                            <div class="form-row">
                                                <div class="col-md-6">
                                                            <div class="form-group">
                                                                <label class="small mb-1" for="inputFirstName">First Name</label>
                                                                <input class="form-control py-4"
                                                                       id="inputFirstName"
                                                                       type="text"
                                                                       placeholder="Enter first name"
                                                                       pattern="^[A-Za-z]+$"
                                                                       inputmode="text"
                                                                       required
                                                                       title="Only letters are allowed" />
                                                            </div>
                                                        </div>
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <label class="small mb-1" for="inputLastName">Last Name</label>
                                                        <input class="form-control py-4"
                                                               id="inputLastName" type="text"
                                                               placeholder="Enter last name"
                                                               pattern="^[A-Za-z]+$"
                                                               inputmode="text"
                                                               required
                                                               title="Only letters are allowed"/>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-group"><label class="small mb-1" for="inputEmailAddress">Email</label><input class="form-control py-4" id="inputEmailAddress" type="email" aria-describedby="emailHelp" placeholder="Enter email address" /></div>
                                            <div class="form-row">
                                                <div class="col-md-6">
                                                    <div class="form-group"><label class="small mb-1" for="inputPassword">Password</label><input class="form-control py-4" id="inputPassword" type="password" placeholder="Enter password" /></div>
                                                </div>
                                                <div class="col-md-6">
                                                    <div class="form-group"><label class="small mb-1" for="inputConfirmPassword">Confirm Password</label><input class="form-control py-4" id="inputConfirmPassword" type="password" placeholder="Confirm password" /></div>
                                                </div>
                                                <!-- Date of Birth -->
                                                <div class="col-md-7">
                                                    <div class="form-group">
                                                        <label class="small mb-1" for="dob">Date of Birth</label>
                                                        <input class="form-control py-4" id="dob" type="date" required />
                                                    </div>
                                                </div>
                                                <!-- Gender -->
                                                <div class="col-md-7">
                                                    <div class="form-group">
                                                        <label class="small mb-1" for="gender">Gender</label>
                                                        <select class="form-control py-4" id="gender" required>
                                                            <option value="">Select Gender</option>
                                                            <option>Male</option>
                                                            <option>Female</option>
                                                        </select>
                                                    </div>
                                                </div>
                                                <!--Designation -->
                                                 <div class="col-7">
                                                <div class="form-group">
                                                    <label class="small mb-1" for="designation">Designation</label>
                                                    <select class="form-control py-4" id="designation" required>
                                                        <option value="">Select Designation</option>
                                                        <option value="Junior Agent">Junior Agent</option>
                                                        <option value="Senior Agent">Senior Agent</option>
                                                        <option value="Team Leader">Team Leader</option>
                                                        <option value="Director">Director</option>
                                                        <option value="Manager">Manager</option>
                                                        <option value="Managing Director">Managing Director</option>
                                                        <option value="Vice President">Vice President</option>
                                                    </select>
                                                </div>
                                            </div>
                                                <!-- reference of director for agent -->
                                                <div class="col-7">
                                                    <div class="form-group">
                                                        <label class="small mb-1" for="Reference_agent">Reference of director for agent</label>
                                                        <select class="form-control py-4" id="Reference_agent" required>
                                                            <option value="">Select Reference</option>
                                                            <option value="Director 1">Director 1</option>
                                                            <option value="Director 2">Director 2</option>
                                                            <option value="Director 3">Director 3</option>
                                                            <option value="Director 4">Director 4</option>
                                                            <option value="Director 5">Director 5</option>
                                                        </select>
                                                    </div>
                                                </div>
                                                <!-- Agent team display -->
                                                <div class="col-7">
                                                    <div class="form-group">
                                                        <label class="small mb-1" for="Agent_team"> Agent team display</label>
                                                        <select class="form-control py-4" id="Agent_team" required>
                                                            <option value="">Select Agent Team</option>
                                                            <option value="Team 1">Team 1</option>
                                                            <option value="Team 2">Team 2</option>
                                                            <option value="Team 3">Team 3</option>
                                                            <option value="Team 4">Team 4</option>
                                                            <option value="Team 5">Team 5</option>
                                                        </select>
                                                  </div>
                                                </div>



                                                <div class="col-md-6">
                                                    <div class="form-group"><label class="small mb-1" for="Aadhaar number">Aadhaar number</label><input class="form-control py-4" id="adhar" type="text" pattern="^\d{16}$" maxlength="16" placeholder="Aadhaar number" required /></div>
                                                </div>
                                                <div class="col-md-7">
                                                    <div class="form-group"><label class="small mb-1" for="Pan">pan</label><input class="form-control py-4" id="pan" type="text" pattern="^\d{16}$" maxlength="16" placeholder="pan number" required /></div>
                                                </div>

                                                <!-- Aadhaar Upload -->
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <label class="medium mb-1" for="aadhaar_file">Upload Aadhaar (PDF only)</label>
                                                        <input class="form-control py-4" id="aadhaar_file" name="aadhaar_file" type="file" accept="application/pdf" style="height: 55px;" required />
                                                    </div>
                                                </div>

                                                <!-- PAN Upload -->
                                                <div class="col-md-7">
                                                    <div class="form-group">
                                                        <label class="small mb-1" for="pan_file">Upload PAN (PDF only)</label>
                                                        <input class="form-control py-4" id="pan_file" name="pan_file" type="file" accept="application/pdf" style="height: 55px;" required />
                                                    </div>
                                                </div>


                                            </div>
                                            <div class="form-group mt-4 mb-0"><a class="btn btn-primary btn-block" href="login-basic.html">Create Account</a></div>
                                        </form>
                                    </div>
                                    <div class="card-footer text-center">
                                        <div class="small"><a href="login-basic.html"></a></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </main>
            </div>
            <div id="layoutAuthentication_footer">
                <footer class="footer mt-auto footer-dark">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-md-6 small">Copyright &copy; Your Website 2025</div>
                            <div class="col-md-6 text-md-right small">
                                <a href="#!">Privacy Policy</a>
                                &middot;
                                <a href="#!">Terms &amp; Conditions</a>
                            </div>
                        </div>
                    </div>
                </footer>
            </div>
        </div>
        <script src="https://code.jquery.com/jquery-3.4.1.min.js" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
        <script src="js/scripts.js"></script>
    </body>
</html>
